# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_with_your_publishable_key
CLERK_SECRET_KEY=sk_test_replace_with_your_secret_key
ADMIN_CLERK_USER_ID=

# PostgreSQL / Prisma
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require

# UploadThing
UPLOADTHING_TOKEN=replace_with_your_uploadthing_token

# Paystack
PAYSTACK_SECRET_KEY=sk_test_b49088db4c3f5b49970f93d8b72f7b9c3858b5e5
NEXT_PUBLIC_SITE_URL=http://localhost:3000
